:root {
  --color-primary: #5c6ac4;
  --color-secondary: #ecc94b;
  /* ... */
}
@tailwind base;
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

.output img {
  max-width: 50%;
  width: 50%;
  margin: 0 auto;
}

@tailwind components;
@tailwind utilities;
